# Jetbrains IDE's
.idea

# Vim editor
*.swp
*.swn
*.swo

# Environment files (remove the comment below to include it)
# *.env

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
*.old
*.out

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
